.mainContainer {
  padding-top: 20px;
}
.userContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.userShort {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: blue;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
}
.userDarkFull {
  background-color: black;
}
.userDarkShort {
  background-color: grey;
}
