.postsPanel {
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-top: 135px;
}
.allPosts {
  width: 166px;
  margin-right: 15px;
}
.privatePosts {
  display: flex;
  flex-direction: column;
  width: 273px;
  margin-right: 205px;
}
a {
  margin-bottom: 30px;
  text-decoration: none;
  color: #ffffff;
}
.burgerMenuNav {
  padding-top: 40px;
  width: 27px;
  height: 18px;
  display: block;
  cursor: pointer;
  margin-right: 40px;
}

.linearNav1,
.linearNav2 {
  display: block;
  width: 27px;
  height: 1px;
  background-color: #ffffff;
}
.linearNav1 {
  transform: translateY(1px) translateX(0) rotate(45deg);
}
.linearNav2 {
  transform: translateY(-1px) translateX(0) rotate(-45deg);
}
.listContainer {
  display: flex;
  margin-left: 357px;
}
ul {
  list-style-type: none;
  padding-top: 100px;
}
li {
  text-align: left;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 22px;
  margin-right: 495px;
}
.logoutImage {
  padding-top: 50px;
}
.logOut {
  width: 120px;
  height: 30px;
  border: none;
  color: white;
  cursor: pointer;
  background: transparent;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: left;
  padding-top: 135px;
  margin-bottom: 55px;
}
.loginToggle {
  margin-right: 110px;
}
.dark {
  padding-top: 110px;
}
