/* .headerInAdd {
  background: #016efc;
}
.headerInAdd .linear {
  background-color: white;
}
.headerInAdd .linear::before {
  background-color: white;
}
.headerInAdd .linear::after {
  background-color: white;
} */
