.button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: deeppink;
  margin-bottom: 10px;
  cursor: pointer;
}
.primary {
  background-image: linear-gradient(
    to right,

    indianred 0%,
    rgb(178, 34, 80) 52%,
    rgb(234, 61, 61) 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  color: white;
}

.secondary {
  background-image: linear-gradient(
    to right,
    cadetblue 0%,
    darkcyan 52%,
    rgb(7, 225, 241) 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  color: black;
}

.secondary2 {
  background-color: gray;
  color: black;
}
.delete {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,

    indianred 0%,
    rgb(178, 34, 80) 52%,
    rgb(234, 61, 61) 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  color: white;
}
.forTimer {
  width: 70px;
  height: 30px;
  border: 1px solid black;
  border-radius: 0px;
  color: white;
  margin: 10px;
  cursor: pointer;
  background-color: blue;
}
.buttonForRegistration {
  width: 372px;
  height: 69px;
  background: #007bff;
  border: 4px solid #0077f7;
  border-radius: 200px;
}
.button.primary:hover {
  background-position: right center;
}
.button.secondary:hover {
  background-position: right center;
}
.button.delete:hover {
  background-position: right center;
}
