.buttonContainer {
    display: flex;
    justify-content: center;
}
.button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color:white;
    background-color: darkcyan;
    margin-bottom: 20px;
    cursor: pointer;
}