.header {
  width: 1569px;
  height: 147px;
  background: #f8fafe;
  margin-bottom: 200px;
}
.hidden {
  display: none;
}
.visible {
  width: 1087px;
  height: 100%;
  margin-left: 234px;
  display: flex;
  align-items: center;
}
.burgerMenu {
  width: 27px;
  height: 18px;
  display: block;
  cursor: pointer;
  margin-right: 40px;
}
.burgerMenuNav {
  padding-top: 40px;
  width: 27px;
  height: 18px;
  display: block;
  cursor: pointer;
  margin-right: 40px;
}
.linear1 {
  display: block;
  width: 18px;
  height: 4px;
  border-radius: 11px;
  background-color: #007bff;
  margin-bottom: 3px;
}
.linear2,
.linear3 {
  display: block;
  width: 27px;
  height: 4px;
  border-radius: 11px;
  background-color: #007bff;
  margin-bottom: 3px;
}
.linearNav1,
.linearNav2 {
  display: block;
  width: 27px;
  height: 1px;
  background-color: #ffffff;
}
.linearNav1 {
  transform: translateY(1px) translateX(0) rotate(45deg);
}
.linearNav2 {
  transform: translateY(-1px) translateX(0) rotate(-45deg);
}

.burgerMenu:hover .linear1 {
  width: 27px;
  height: 1px;
  background-color: #007bff;
  border-radius: 0px;
  opacity: 1;
  transform: translateY(6px) translateX(0) rotate(45deg);
}
.burgerMenu:hover .linear2 {
  opacity: 0;
}
.burgerMenu:hover .linear3 {
  transform: translateY(-5px) translateX(0) rotate(-45deg);
  height: 1px;
  border-radius: 0px;
  background-color: #007bff;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  margin-right: 12px;
}
.userName {
  width: 204px;
  height: 43px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #016efc;
}
.visibleNav {
  width: 1569px;
  height: 295px;
  background: #016efc;
}
.hiddenNav {
  display: none;
}
.listContainer {
  display: flex;
  margin-left: 357px;
}
ul {
  list-style-type: none;
  padding-top: 138px;
}
li {
  text-align: left;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 22px;
  margin-right: 495px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.dark {
  padding-top: 140px;
}
