.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 30px;
  padding: 20px 15px;
}
.selectedPost {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #016efc;
  text-align: left;
  margin-left: 112px;
}
